<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sigma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sigma.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Pfp" serializeAs="String">
                <value>https://image.geo.de/30126332/t/-U/v4/w1440/r0/-/alice-im-wunderland-disney-zeichentrick-png--71570-.jpg</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>AliceBlue</value>
            </setting>
            <setting name="MenuColor" serializeAs="String">
                <value>#FFF5F8FF</value>
            </setting>
            <setting name="BorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="UserListBoxColor" serializeAs="String">
                <value>#FFA3D7F5</value>
            </setting>
            <setting name="TextfielColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>#32A3D7F5</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>-1</value>
            </setting>
        </Sigma.Properties.Settings>
    </userSettings>
</configuration>